<div data-role="navbar">
    <ul>
        <li><a href="/home/pricing">Pricing</a></li>
        <li><a href="/home/our-staff">Staff</a></li>
        <li><a href="/home/our-location">Location</a></li>
    </ul>
</div>
