<h3>Call Us Today:</h3>
<p><a href="tel:@USFit.Web.Constants.PrimaryPhone">(@USFit.Web.Constants.PrimaryPhone)</a></p>
<h3>Our Address:</h3>
<<<<<<< HEAD
<a href="https://maps.google.com/maps?q=4970 E. Colfax Ave. Denver,CO 80220"><address>4970 E. Colfax Ave. Denver, CO 80220</address></a>
=======
<a href="http://maps.google.com?q=5929 E 38th Avenue Building B Denver, CO 80207"><address>5929 E 38th Avenue Building B Denver, CO 80207</address></a>
>>>>>>> parent of 04f920b... edit mobile
