<ul data-role="listview" data-inset="true">
    <li><a id="b1" href="/home/workout-classes" class="super button orange" title="A link to more information about fitness classes & workout classes at Urban Survival Fitness">Workout Classes</a></li>
    <li><a id="b7" href="/home/power-yoga-classes" class="super button orange" title="Learn More About Zumba with Jurea at Urban Survival Fitness">Zumba Classes</a></li>
    <li><a id="b2" class="super button orange" href="/home/youth-programs" title="A link to more information about youth programs & youth workout classes at Urban Survival Fitness">Youth Programs</a></li>
    <li><a id="b3" class="super button orange" href="/Home/self-defense" title="A link to the self defense workout classes at Urban Survival Fitness">Self Defense</a></li>
    <li><a id="b4" class="super button orange" href="/home/seniors" title="A link to the fitness classes for seniors at Urban Survival Fitness">Seniors Classes</a></li>
    <li><a id="b5" class="super button orange" href="http://blog.urbansurvivalfitness.com/category/special-events/" title="A link to the upcoming special events at Urban Survival Fitness">Special Events</a></li>
    <li><a id="b6" class="super button orange" href="http://blog.urbansurvivalfitness.com/" title="A link to the Urban Survival Fitness Blog">Visit our Blog!</a></li>
</ul>