@{
    ViewBag.Title = "Cancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_12">
                <h2>You Canceled Your Purchase</h2>
                <p>We are sorry that you decided to cancel your purchase. If you change your mind please
                    click one of the "buy now" buttons that you see on our site.</p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </section>
}
