@{
    ViewBag.Title = "Transaction Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_12">
                <h2>Thank You for Your Purchase</h2>
                <p>Please shop with us again.</p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </section>
}
