@{
    ViewBag.Title = "Terms Of Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <h1>Terms Of Use</h1>


            <div class="grid_12">


            </div>

            <div class="clearfix"></div>
        </div>
        
    </section>

    <div class="clearfix"></div>
}