@{
    ViewBag.Title = "Class Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <h1>Urban Survival Fitness has Class Schedules for Everyone!</h1>
            <p>At Urban Survival Fitness we have many schedule options available for each type of
                student that we teach. If you are a morning person, afternoon person, or an evening
                person, we have a schedule and a class that will meet your needs.</p>
            <h2>Fitness Enthusiasts</h2>
            <ul>
                <li>Monday thru Friday - 6:10 PM t0 7:10 PM</li>
                <li>Next Class...</li>
                <li>Next Class...</li>
            </ul>
            <h2>Youth Athletics</h2>
            <ul>
                <li>Sport Specific Programs & Individual Training Available</li>
                <li>Call for details...</li>
            </ul>
            <h2>Womens Fitness</h2>
            <ul>
                <li>Womens Self Defense & Stay at Home Moms</li>
                <li>Call for details...</li>
            </ul>
            <h2>Seniors</h2>
            <ul>
                <li>Call for details...</li>
            </ul>
            <p><strong>All schedules are subject to change</strong></p>
            <p><strong>Please contact us with any questions regarding schedules</strong></p>
        </div>
        <div class="clearfix">
        </div>
    </section>
}
<div class="grid_12">
    <h2>Other Information</h2>
    <h4>One on One Personal Training</h4><ul>
        <li>Personal Training - Appointment Only</li>
        <li>Call for details...</li>
    </ul><h4>Private Groups</h4><ul>
        <li>We offer private group classes as well, by appointment only</li>
        <li>Call for Details...</li>
    </ul>
</div>
@section meta{
    <meta name="description" content="Urban Survival Fitness provides many schedules for our group fitness classes in the Denver, Park Hill, Stapleton, and the City Park area.  
    Can you survive one of the greatest workouts in town?" />
}
