@{
    ViewBag.Title = "Class Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <h1>
                Workout & Fitness Classes - Scheduled to Meet Your Active Lifestyle!</h1>
            <p>
                Our workout classes are a unique combination of Strength, Resistance, Core, Cardio,
                and Flexibility training guaranteed to challenge you and improve your fitness level.</p>
            <br />
            <div class="grid_7 suffix_1">
                <h2>
                    Class Schedules</h2>
                <ul>
                    <li>Evenings - Monday thru Friday - 6:10 PM to 7:00 PM</li>
                    <li>Mornings - Monday & Friday - 9:10 AM to 10:00 AM </li>
                    <li>Weekends - Saturday - Returning Soon</li>
                </ul>
            </div>

            <div class="coupon grid_4 primary-nav-button">
            <a id="coupon-button" href="/home/free-coupon?src=class-schedules" title="Print a coupon for our fitness classes & workout classes" class="super button orange">Free Drop-In Pass <br />(Print It!)</a>
            </div>
            <div class="clearfix">
            </div>
            <br />
            <div class="grid_4 suffix_1">
                <h2>
                    Kids & Seniors</h2>
                <ul>
                    <li>Fitness Classes for Kids & Seniors are Starting Soon</li>
                    <li>Limited Space Available</li>
                    <li>Call for Details...</li>
                </ul>
            </div>
            <div class="grid_4">
                <h2>
                    Self Defense</h2>
                <ul>
                    <li>Self Defense Workout Classes are Starting Soon</li>
                    <li>Limited Space Available</li>
                    <li>Call for details...</li>
                </ul>
            </div>
        </div>
        <div class="clearfix">
        </div>
    </section>
}
<div class="grid_4">
    <h3>
        One on One Personal Training</h3>
    <ul>
        <li>Personal Training - Appointment Only</li>
        <li>Call for details...</li>
    </ul>
</div>
<div class="grid_4">
    <h3>
        Private Groups</h3>
    <ul>
        <li>Want some conditioning for your team or squad?</li>
        <li>We offer private group classes as well, by appointment only</li>
        <li>Call for Details...</li>
    </ul>
</div>
<div class="grid_4">
    <h3>
        Additional Notes</h3>
    <ul>
        <li>All schedules are subject to change</li>
        <li>Please contact us with any questions regarding schedules</li>
    </ul>
</div>
@section meta{
    <meta name="description" content="We offer many schedules for our group fitness classes and workout classes to people in the Denver, Park Hill, Stapleton, and the City Park area.  
    Can you survive one of the greatest workouts in town?" />
}
