@{
    ViewBag.Title = "Good for One Free Drop-In";
}
    <section class="featured-coupon">
        <div class="featured-coupon-content content-wrapper container_12">
            <div class="grid_9 suffix_3">
                <div class="coupon-container grid_12">
                    <div class="grid_7">
                        <h1>Free Coupon</h1>
                        <h2>Good for 1 "Drop-In"</h2>
                        <p>Step 1 - <strong>Complete!</strong> Great Work! You have just taken the first step to getting more
                            fit!</p>
                        <p>Step 2 - <strong>"Drop-In"</strong> to any of our Standard, Senior, or Youth Classes</p>
                        <p>Step 3 - <strong>Mention or Show this Coupon to any trainer</strong></p>
                        <ul>
                            <li>Please bring a Photo ID</li>
                            <li>Please be willing to share some limited contact information (phone number or email
                                address)</li>
                            <li>You must be older than 18 years old - or have a parent / guardian present</li>
                            <li>Offer not valid for: 1 on 1 Personal Training, Self Defense, or other "Specialized" classes</li>
                            <li>Family Members & Non-Distracting Spectators are always welcome</li>
                        </ul>
                    </div>
                    <div class="grid_5" style="text-align: center; font-size: 5em; font-weight: bold;
                        text-transform: uppercase; line-height: 1em; margin-top: .5em;">
                        <span>$20</span>
                        <br />
                        <span>Value</span>
                    </div>
                </div>
                <div class="clearfix">
                </div>
@*                <div class="coupon primary-nav-button grid_3" style="margin-top:2em;">
                    <a class="large orange button" href="/home/our-location">Get Driving Directions</a>
                </div>*@
            </div>
            <div class="clearfix"></div>
        </div>
    </section>


@section meta{
    <meta name="description" content="Print this coupon for one free drop-in pass to the best workout classes & fitness classes in the Denver, Park Hill, City Park, and Stapleton areas." />
}
