@{
    ViewBag.Title = "Home";
}

<h1>Urban Survival Fitness</h1>
<p>The best no frills gym in Denver, servicing the Park Hill - City Park - Stapleton & Surrounding Areas!</p>

@Html.Partial("PageNav")

<blockquote class="offscreen">
    <p>
        Our specialized group fitness classes are designed for beginning to elite levels
                            of fitness. Our students encompass professionals, youth, former athletes, weekend
                            warriors, competitive athletes and seniors; all striving to be in the best shape
                            they can be.
    </p>
    <p>
        Each class is intense, fun, different and guaranteed to confront you with a new challenge.
                            Our classes are based on the foundation of body weight exercises which incorporate
                            martial arts, dance techniques, strength training, cardio endurance, yoga, core
                            and sports specific movements.
    </p>
    <p>
        Can you survive? With the help of our Specialists and the support of fellow students,
                            we know you can!
    </p>
    <cite>Jeffery McMillan - Urban Survival Fitness</cite>
</blockquote>

@Html.Partial("PageNav")
