@{
    ViewBag.Title = "Our-Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <h2>
                    Urban Survival Fitness is located at 5929 E 38th Ave, Building B, Denver CO</h2>

                    <p>When you are driving to our location, look for XX cab company and YY building.  Our building is east of the cab company and directly behind YY building.
                    There is also a sign that you can see from the road that says XXX
                    </p>


            <div class="clearfix"></div>
            <br />
            <div class="grid_4">
                
            </div>
            <div class="grid_4 prefix_2 suffix_2">
                

                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=207353863949487353628.0004c0f1a86f8e066e3aa&amp;ie=UTF8&amp;t=m&amp;ll=39.770053,-104.919004&amp;spn=0.005772,0.00912&amp;z=16&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?msa=0&amp;msid=207353863949487353628.0004c0f1a86f8e066e3aa&amp;ie=UTF8&amp;t=m&amp;ll=39.770053,-104.919004&amp;spn=0.005772,0.00912&amp;z=16&amp;source=embed" style="color:#0000FF;text-align:left">Urban Survival Fitness</a> in a larger map</small>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
}
<div class="grid_12">
    <h2>
        Secondary Content</h2>
    coming soon...
</div>
<div class="clearfix"></div>