@{
    ViewBag.Title = "Our Staff";
}

<section class="featured">
    <div class="featured-content content-wrapper container_12">
        <div class="grid_12">
            <h1>Looking for Talent?  Look No Further!</h1>
            <p>We have a very talented staff of coaches, personal trainers, and professionals here at Urban Survival Fitness.</p>
        </div>

        <div class="clearfix"></div>
        <section class="content-section bio">

            <div class="grid_3">
                <h1>Terri Carrigan</h1>
                <img class="bio terri" height="195" width="195" src="@Url.Content("~/images/bios/terri-carrigan.jpg")" alt="image of a Terri Carrigan." title="Terri Carrigan looking great at Urban Survival Fitness" />
            </div>

            <div class="clearfix"></div>

            <div class="grid_9">

                <p>Terri Carrigan has practiced multiple forms of physical fitness for over 35 years.  During the past three years she has devoted a great deal of time to working with the professionals at Urban Survival Fitness and has teamed up to develop programs for both the profit and nonprofit sector.</p>
                <p>As someone who has always been active in fitness and health, while managing a highly demanding career as an Executive Assistant to C level executives for more than 20 years, Terri can appreciate and understand the struggles of fitting exercise and healthy habits into everyday schedules.  She can help you learn how to modify your lifestyle to become more fit and healthy.  Over the past 35 years she has managed national fitness centers, trained for body building competitions and taught a variety of types of exercise and martial arts programs.</p>
                <p>15 years of martial arts training has taught Terri that knowing how to defend yourself and your loved ones is critical in society.  Terri and the team at Urban Survival Fitness have created an amazingly effective, intuitive based curriculum for self-defense and they are very passionate about making available to the public.  Combine Terri’s years of specialized training in the community, women’s groups, shelters and corporations with the vast experience of her 3 partners at Urban Survival Fitness, and you have a unique self-defense program which guarantees results.</p>
                <h3>Q & A</h3>
                <p><strong>Q:</strong> What is your favorite exercise? 
                    <br />
                    <strong>A:</strong><cite> I love the versatility of circuit training but if I have to pick one exercise it would probably be the Russian Twist – purely because of the quick results!</cite></p>
                <p>
                    <strong>Q:</strong> What is your favorite Martial Arts move?
                    <br />
                    <strong>A:</strong> <cite>I have lots of “favorites” but anything that gives me the biggest advantage using the least amount of strength and energy – that’s my favorite.  I can show you some of these!</cite>
                </p>
                <p>
                    <strong>Q:</strong> What is your favorite reward food?
                    <br />
                    <strong>A:</strong> <cite>Ice Cream!</cite>
                </p>
                <p>
                    <strong>Q:</strong> What motivates you the most about working with USF?<br />
                    <strong>A:</strong> <cite>The opportunity to participate in for profit and nonprofit activities, working with the best students and trainers in Denver, and being able to engage in the community to make a difference whenever possible.</cite>
                </p>
            </div>
        </section>

        <div class="clearfix"></div>
        <section class="content-section bio">

            <div class="grid_3">
                <h2>Jeffrey McMillan</h2>
                <img class="bio jeff" height="209" width="129" src="@Url.Content("~/images/bios/Jeffrey-McMillan.jpg")" alt="image of a Jeffrey McMillan." title="Jeffrey McMillan looking great at Urban Survival Fitness" />
            </div>

            <div class="grid_9">
                
                <p>Jeffrey McMillan, Founder of Urban Survival Fitness, has been a personal training for over 20 years. He is ACE and NAPT certified in both group and personal training.  He has developed his own unique program by blending his vast personal experience in Combative Martial Arts, Dance, Collegiate Football/Track and Field, and Weightlifting.  The result is Urban Survival Fitness, a High Energy, Intense and Fun fitness curriculum which will test, build and maintain peak cardio, core, strength and flexibility in each session.</p>
                <p>Jeffrey enjoys motivating and inspiring students who shout “I Feel Great!” “To Be the Best Me I Can Be” and “Survive!”</p>
                <p>Jeffrey has been a student, practitioner, and instructor in a variety martial arts disciplines for close to 30 years.  For more than 20 years he has also been employed in the professional security industry in the capacity of personal & group bodyguard, event security, asset protection, security consultation & training. Jeffrey has also taught instinctual self-defense/awareness classes for women, school children and senior citizens.</p>
                <p>Along with Urban Survival Fitness Master of Defense Johnnie Williams, and staff instructors Terri Carrigan, & Pierre Williams, Jeffrey has helped create, develop, and teach Urban Defense, a no-nonsense, straight to the point approach to instinctual personal defense. It uses techniques from varied disciplines without the traditional aspects and years of day to day training. This allows the students to learn Urban Defense, which promotes Awareness, Avoidance, and if necessary how to protect/defend themselves in dangerous and violent situations.</p>

                <h3>Q & A</h3>
                <p>
                    <strong>Q:</strong> What is your favorite exercise? 
                    <br />
                    <strong>A:</strong>
                    <cite>Burpees because it’s a total body workout, including cardio, and you can do it anywhere, and with simple modifications beginners to elite athletes can vary the intensity.</cite>
                </p>
                <p>
                    <strong>Q:</strong> What is your favorite Martial Arts move?
                    <br />
                    <strong>A:</strong> <cite>Any technique or move that uses the opponents strength and energy against them.</cite>
                </p>
                <p>
                    <strong>Q:</strong> What is your favorite reward food?
                    <br />
                    <strong>A:</strong> <cite>Ice Cream (the protein of champions… LOL!)</cite>
                </p>
                <p>
                    <strong>Q:</strong> What motivates you the most about working with USF?<br />
                    <strong>A:</strong> <cite>Seeing the physical and emotional change in students.</cite>
                </p>
            </div>
        </section>

        <div class="clearfix"></div>
        <section class="content-section bio">

            <div class="grid_3">
                <h2>Johnnie Williams</h2>
                <img class="bio johnnie" height="209" width="126" src="@Url.Content("~/images/bios/Johnnie-Williams.jpg")" alt="image of a Johnnie Williams." title="Johnnie Williams looking great at Urban Survival Fitness" />
            </div>

            <div class="grid_9">
                
                <p>Johnnie Williams, Master Defense Specialist with Urban Survival Fitness, has an extensive background working with gangs on the West and South sides of Chicago, IL as well as many of the Gangs in Denver.  He published “Gangs From The Cradle To The Grave” in 2003 and was instrumental in developing successful program curriculums and group activities for Faces (Family advocacy Care Education and Support).  Johnnie has over 30 years of Martial Arts training and over 20 years in the Security business.     He has studied business management, taken  many different workshops, conferences and seminars to bring his skill level to the equivalent of a CAC II.  Johnnie is certified in Crisis Response, a Criminal Justice Specialist and an Addictions Counselor.  He continues to seek out and take advantage of any training opportunities that can help him to better serve his clients.</p>
                <p>Johnnie is the President and C.E.O of TRIPS Enterprises (Total Reliance In Personal Success) where their motto is “Life is what you make of it - depend on yourself”.  He is one of the founders of the Violence Prevention Initiative (“Peace -n- the Streets” event) and The Metro Denver Gang Coalition.  Johnnie has as been a volunteer and supporter of many community based organizations since their inception such as;  Catholic Charities, Urban League Education Committee, What’s Up Youth Program (KS 107.5), Denver Weed and Seed, Cole Neighborhood Association, Denver Black Arts Festival, Five Points Business Association (Juneteenth Festival), Martin Luther King Marade, Higher Ground Youth Challenge, Youth Fair Chance Program, Safe City Summit, Project PAVE, The Spot Youth Center and Urban Peak.</p>
                <p>Johnnie is currently working with youth in the community by supplying constructive alternatives to gangs and other destructive activities.  He is actively involved within the community, focusing primarily on educating teenagers on gaining and preserving self-respect, finding a positive purpose in life, learning to be more responsible and learning to make good choices such as leaving the gang lifestyle.  He joined GRASP in July, 2008.</p>
                <p>Johnnie's expertise and exposure to varied populations contributes to his being a well-rounded individual and a tremendous asset to any community.  He has received many awards for his work, such as; “The Citizen Award” from the Martin Luther King Day Commission and The Conflict Resolution Award from The University of Denver. However there is no greater reward for the work that he does then to see one of the youth that he has work with change their life for the better.</p>
                @*<h3>Q & A</h3>
                    <p><strong>Q:</strong> What is your favorite exercise?  <br /><strong>A:</strong> 
                        <cite>Burpees because it’s a total body workout, including cardio, and you can do it anywhere, and with simple modifications beginners to elite athletes can vary the intensity.</cite></p>
                    <p><strong>Q:</strong> What is your favorite Martial Arts move? <br />
                        <strong>A:</strong> <cite>Any technique or move that uses the opponents strength and energy against them.</cite></p>
                    <p><strong>Q:</strong> What is your favorite reward food? <br />
                        <strong>A:</strong> <cite>Ice Cream (the protein of champions… LOL!)</cite></p>
                    <p><strong>Q:</strong> What motivates you the most about working with USF?<br />
                        <strong>A:</strong> <cite>Seeing the physical and emotional change in students.</cite></p>*@
            </div>
        </section>



        <div class="clearfix"></div>
    </div>
</section>
