@{
    ViewBag.Title = "Zumba Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_12">
                <section class="content-section-header">
                    <div class="grid_12">
                        <h1>Zumba Classes</h1>
                        <ul>
                            <li>Focused on Strength & Flexibility</li>
                            <li>Great for - All Ages & Skill Levels</li>
                            <li>Reduce Stress & Tension</li>
                        </ul>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="content-section">
                    <div class="grid_12">
                        <h2><strong class="callout">Call Us Today! <a href="tel:@USFit.Web.Constants.PrimaryPhone">(@USFit.Web.Constants.PrimaryPhone)</a></strong></h2><br />
                    </div>
                </section>

                <section class="content-section">
                    <div class="grid_9">
                        <h2>What is Zumba?</h2>
                        <p>Zumba uses both strength and improvement of flexibility.  
                            This style of zumba can be done by all ages and all skill levels.  
                            With continual practice you will also notice and feel the mental benefits also.  
                            Yoga helps you deal with stress in a more positive manner.  
                            Yoga focuses on breath and postures with a continual flow and a special section of core so it will only strengthen your practice even more.</p>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="content-section" class="grid_12">
                    <h2>Who is Jurea Myles?</h2>
                    <div class="grid_6">
                        <div>
                            <img src="@Url.Content("~/images/bios/zumbatrainer.jpg" width="50" height="50")" />
                        </div>
                    </div>
                    <div class="grid_6">
                        <p>Are you ready to PARRRRRR-TAY!!!!  Zumba brings the fitness to you!  If you enjoy salsa, cumbia, merengue, mambo, chachacha, reggaeton, soca, samba, tango, bellydance and a little hip hop, please join me, and I'll shake and shimmy you into shape. 
I've been teaching Zumba since January 2013 currently with 3 certifications, and teaching 5 classes a week.  Not only have I seen a huge change in my body, I've seen physical and mental changes in my students as well.  I've had students loose dress sizes, feel more comfortable in their own skin, and even tell me because of Zumba they want to do more with their life.  Eating right, leaving the house more often, and better relationships with their spouse/loved one because of the confidence they have.  Believe me, it makes me feel proud the be an instructor and look forward to the hour I spend with them knowing I make a difference.   
Please join me and I hope to make a difference in your lives too!!!  I can't wait to make a show you some hot moves!!!
 
Jurea Myles</p>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="content-section">
                    <div class="grid_6">
                        <h2>
                            Zumba Class Schedule</h2>
                        <ul>
                            <li>Saturday - 10:45 AM to 11:45 AM</li>
                        </ul>
                    </div>
                    <div class="grid_6">
                        <h2>Power Zumba Class Pricing</h2>
                        Each Power Zumba Class is:
                        <ul>
                            <li>$5 - Punch Cards available. Buy 5 - Get One Free</li>
                            <li>Your First Class is Free</li>
                        </ul>                        
                    </div>
                </section>
                <div class="clearfix">
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </section>
}
@section meta{
    <meta name="description" content="Zumba Classes in Park Hill, Stapleton, and Denver - Provided by Jurea Myles and Urban Survival Fitness." />
}
