@{
    ViewBag.Title = "Power Yoga Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_2 vertical-nav-grid">
                @Html.Partial("VerticalNavGrid", ViewData["Page"] = "PowerYoga")
            </div>
            <div class="grid_10">
                <section class="content-section-header">
                    <div class="grid_8">
                        <h1>Zumba Classes</h1>
                        <ul>
                            <li>Focused on Strength & Flexibility</li>
                            <li>Great for - All Ages & Skill Levels</li>
                            <li>Reduce Stress & Tension</li>
                        </ul>
                    </div>
                    <div class="coupon grid_4 primary-nav-button">
                        <a id="coupon-button" href="/home/free-coupon?src=power-yoga" title="Print a coupon for our fitness classes & workout classes"
                            class="super button orange">Free Drop-In Pass
                            <br />
                            (Print It!)</a>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="content-section">
                    <div class="grid_12">
                        <h2><strong class="callout">Call Us Today! (@USFit.Web.Constants.PrimaryPhone)</strong></h2><br />
                    </div>
                </section>

               
                <div class="clearfix">
                </div>
                <section class="content-section" class="grid_12">
                    
                    <div class="grid_6">
                        <div>
                            <img src="@Url.Content("~/images/bios/zumbatrainer.jpg")" />
                        </div>
                    </div>
                    <div class="grid_6">
                        <p>Are you ready to PARRRRRR-TAY!!!!  Zumba brings the fitness to you!  If you enjoy salsa, cumbia, merengue, mambo, chachacha, reggaeton, soca, samba, tango, bellydance and a little hip hop, please join me, and I'll shake and shimmy you into shape. 
I've been teaching Zumba since January 2013 currently with 3 certifications, and teaching 5 classes a week.  Not only have I seen a huge change in my body, I've seen physical and mental changes in my students as well.  I've had students loose dress sizes, feel more comfortable in their own skin, and even tell me because of Zumba they want to do more with their life.  Eating right, leaving the house more often, and better relationships with their spouse/loved one because of the confidence they have.  Believe me, it makes me feel proud the be an instructor and look forward to the hour I spend with them knowing I make a difference.   
Please join me and I hope to make a difference in your lives too!!!  I can't wait to make a show you some hot moves!!!
 
Jurea Myles</p>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="content-section">
                    <div class="grid_6">
                        <h2>
                            Zumba Class Schedule</h2>
                        <ul>
                            <li>Saturday - 10:45 AM to 11:45 AM</li>
                        </ul>
                    </div>
                    <div class="grid_6">
                        <h2>Zumba Class Pricing</h2>
                        Each Zumba Class is:
                        <ul>
                            <li>$5 - Punch Cards available. Buy 5 - Get One Free</li>
                            <li>Your First Class is Free</li>
                        </ul>                        
                    </div>
                </section>
                <div class="clearfix">
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </section>
}
@section meta{
    <meta name="description" content="Zumba Classes in Park Hill, Stapleton, and Denver - Provided by Jurea Myles and Urban Survival Fitness." />
}
