@{
    ViewBag.Title = "Workout Class | Fitness Class Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_12">
                <h1>
                    Urban Survival Fitness has the most Competitive Pricing in Town!</h1>
                <p>
                    Our fitness classes guarantee that you will never have another boring workout. We
                    provide personal training in every wourkout class. Our rates are very competitive
                    compared to the other gyms and workout programs around town. Come and check us out.</p>
                <br />
                @Html.Partial("PriceGrid")
                <ul>
                    <li>Memberships Include Unlimited Visits - to Standard Workout Classes</li>
                    <li>Pricing subject to change</li>                    
                    <li>We accept Cash, Credit, PayPal, and Checks</li>
                    <li>Military & Teachers receive 20% discount on memberships - (Valid ID Required)</li>
                    <li>NO Contracts to Sign - NO Hidden Fees - Only Great Workouts</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
}
<div class="container_12">
    <div class="grid_4">
        <h3>
            One on One Personal Training</h3>
        <ul>
            <li>$40 / Hour</li>
            <li>Monthly Rates Available</li>
            <li>Advanced Scheduling is Required</li>
            <li>Call for Details...</li>
        </ul>
    </div>

    <div class="grid_4">
        <h3>
            Self Defense Classes</h3>
        <ul>
            <li>3 hour - Group Classes - $75 / Person</li>
            <li>Group Rates are Available</li>
            <li>Call for Details...</li>
        </ul>
    </div>

    <div class="grid_4">
        <h3>
            Kids & Seniors</h3>
        <ul>
            <li>Free - for ages 7-16</li>
            <li>Special Rates for Seniors</li>
            <li>Classes Starting Soon</li>
            <li>Limited Space Available</li>
            <li>Call for Details...</li>
        </ul>
    </div>
</div>
@section meta{
    <meta name="description" content="Urban Survival Fitness has the most competitive pricing for workout classes and fitness classes in the Denver, Park Hill, Stapleton, and City Park area.  
    Can you survive one of the greatest workouts in town?" />
}
