    <div class="prefix_2 grid_4">
        <h3>Power Yoga Class Pricing</h3>
        Each Power Yoga Class is:
        <ul>
            <li>10$ per person</li>
            <li>5$ per person for existing students</li>
            <li>Your First Class is Free</li>
        </ul>
    </div>

    <div class="grid_4 suffix_2">
        <h3>One on One Personal Training</h3>
        <ul>
            <li>$40 / Hour</li>
            <li>Monthly Rates Available</li>
            <li>Advanced Scheduling is Required</li>
            <li>Call for Details...</li>
        </ul>
    </div>

    <div class="clearfix"></div>

    <div class="prefix_2 grid_4">
        <h3>Self Defense Classes</h3>
        <ul>
            <li>3 hour - Group Classes - $75 / Person</li>
            <li>Group Rates are Available</li>
            <li>Call for Details...</li>
        </ul>
    </div>

    <div class="grid_4 suffix_2">
        <h3>Kids & Seniors</h3>
        <ul>
            <li>Free - for ages 7-16</li>
            <li>Special Rates for Seniors</li>
            <li>Classes Starting Soon</li>
            <li>Limited Space Available</li>
            <li>Call for Details...</li>
        </ul>
    </div>