<h3>Membership Pricing</h3>
<div class="container_12">
    <div id="pricing-container" class="grid_9">
        <div id="singles-monthly" class="price-column-left">
            <div class="cell cell-header header-left">
                Individual Monthly</div>
            <div class="cell price-cell">
                $125 / Month<br />
                <span class="popular">(most popular)</span></div>
            <div class="cell cell-footer footer-left">
            </div>
        </div>
        <div id="couples-monthly" class="price-column">
            <div class="cell cell-header">
                Couples Monthly</div>
            <div class="cell price-cell">
                $200 / Month</div>
            <div class="cell cell-footer">
            </div>
        </div>
        <div id="singles-annual" class="best-value price-column">
            <div class="cell cell-header header-right header-left">
                Individual Annual</div>
            <div class="cell bestvalue-price-cell">
                <span>$1200 / Year</span><br />
                <span class="best-value">(best value)</span></div>
            <div class="cell cell-footer footer-left footer-right">
            </div>
        </div>
        <div id="couples-annual" class="price-column">
            <div class="cell cell-header">
                Couples Annual</div>
            <div class="cell price-cell">
                <span>$1920 / Year</span></div>
            <div class="cell cell-footer">
            </div>
        </div>
        <div id="dropin" class="price-column-right">
            <div class="cell cell-header header-right">
                Daily<br />Drop-Ins</div>
            <div class="cell price-cell">
                $20 / Day</div>
            <div class="cell cell-footer footer-right">
            </div>
        </div>
    </div>
    <div class="coupon grid_2 prefix_1 primary-nav-button">
        <a id="coupon-button" href="#" title="Print a coupon to our fitness classes & workout classes" class="large button orange">Free Drop-In Pass <br />(Print It!)</a>
    </div>
</div>
<div class="clearfix">
</div>
