@{
    ViewBag.Title = "Class Pricing";
}

<section class="featured">
    <div class="featured-content content-wrapper container_12">
        <div class="grid_12">
            <h1>Urban Survival Fitness has the most Competitive Pricing in Town!</h1>
            <p>
                Our fitness classes guarantee that you will never have another boring workout. We
                    provide personal training in every wourkout class. Our rates are very competitive
                    compared to the other gyms and workout programs around town. Come and check us out.
            </p>
            <br />
            <h2>Normal Class Pricing</h2>
            <p><strong>Monthly Rates</strong></p>
            <ul>
                <li>$125 / Month - Individual</li>
                <li>$200 / Month - Couples</li>
            </ul>
            <p><strong>Annual Rates</strong></p>
            <ul>
                <li>$1200 / Year - Individual</li>
                <li>$1920 / Year - Couples</li>
            </ul>

            <p><strong>Drop-In</strong></p>
            <ul><li>$20 / Day</li></ul>

            <p>Notes:</p>
            <ul>
                <li>Memberships Include Unlimited Visits - to Standard Workout Classes</li>
                <li>Pricing subject to change</li>
                <li>We accept Cash, Credit, PayPal, and Checks</li>
                <li>Military & Teachers receive 20% discount on memberships - (Valid ID Required)</li>
                <li>NO Contracts to Sign - NO Hidden Fees - Only Great Workouts</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

<section>
    <h2>Other Pricing</h2>
<div class="container_12">
    @Html.Partial("PricingGrid")
</div>
</section>

@*@Html.Partial("PageNav")*@

@section meta{
    <meta name="description" content="Urban Survival Fitness has the most competitive pricing for workout classes and fitness classes in the Denver, Park Hill, Stapleton, and City Park area.  
    Can you survive one of the greatest workouts in town?" />
}
