@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <section class="featured">
        <div class="content-wrapper container_12">
            <div class="grid_12">
                <h2>
                    Featured Pricing</h2>
                coming soon...
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
}
<div class="grid_12">
    <h2>
        Regular Pricing</h2>
    coming soon...
</div>
