@{
    ViewBag.Title = "Self Defense Workout Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_12">
                <h1>
                    Develope Self Defense Skills to Keep you Safe for a Lifetime</h1>
                
                <p>More Details on our Self Defense Workout Classes are Coming Soon...</p>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
}
<div class="grid_12">
    <h2>
        Secondary Content</h2>
    coming soon...
</div>


@section meta{
    <meta name="description" content="We offer self defense workout and fitness classes to people of all ages in the 
        Denver, Stapleton, City Park and Park Hill area." />
}
