@{
    ViewBag.Title = "Self Defense Workout Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_2 vertical-nav-grid">
                <div style="width: 100%; height: 100%;">
                    <ul>
                        <li>
                            <a class="medium orange button nav-button" href="/home/workout-classes">Workout Classes</a></li>
                        <li>
                            <a class="medium orange button nav-button" href="/home/youth-programs">Youth Programs</a></li>
                        <li>
                            <a class="medium grey button nav-button" href="/home/self-defense">Self Defense</a></li>
                        <li>
                            <a class="medium orange button nav-button" href="/home/seniors">Seniors Classes</a></li>
                    </ul>
                </div>
            </div>
            <div class="grid_10">
                <section class="seniors-header">
                    <div class="grid_8">
                        <h1>Develop Self Defense Skills to Keep you Safe for a Lifetime</h1>
                        <p>We offer self defense classes for all levels. Our self defense classes focus on the
                            physical, emotional and psychological aspects of an attack through a hands-on and
                            lecture combination that allows students to practice various self-defense techniques</p>
                    </div>
                    <div class="coupon grid_4 primary-nav-button">
                        <a id="coupon-button" href="/home/free-coupon?src=self-defense" title="Print a coupon for our fitness classes & workout classes"
                            class="super button orange">Free Drop-In Pass
                            <br />
                            (Print It!)</a>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <h2>Discover Your Strength!</h2>
                        <p>We create an environment where you feel comfortable enough to challenge yourself
                            and discover your strength. You will learn to use your entire body, regardless of
                            your strength, size body type or level of fitness. Students of up to 81 years of
                            age have completed this course.</p>
                    </div>
                    <div class="grid_6">
                        <div class="image-placeholder">
                        </div>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <div class="image-placeholder">
                        </div>
                    </div>
                    <div class="grid_6">
                        <h2>Why Risk It?</h2>
                        <p>Our programs draw on years of experience in various types of self-defense and martial
                            arts. We will teach you the tactics and strategies that you need - to protect yourself
                            and those you love. Is it really worth it to get your training elsewhere? Don't
                            believe us - simply drop by.</p>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <h2>Use Fear to Your Advantage</h2>
                        <p>Many people when in a self defense situation are overcome by fear. Our self defense
                            teaches you how to turn your fear into effective self-defense energy.</p>
                    </div>
                    <div class="grid_6">
                        <div class="image-placeholder" style="">
                        </div>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <div class="image-placeholder">
                        </div>
                    </div>
                    <div class="grid_6">
                        <h2>Discover Yourself</h2>
                        <p>In order to survive a self defense scenario - you must discover Your areas needing
                            improvement. Our coaches and trainers will provide instruction to help you address
                            lack of confidence, feelings of helplessness, and anger. Then we will show you your
                            physical potential, emotional strength, and build your confidence. Self discovery
                            will better enable you to defend yourself.</p>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <h2>Schedule</h2>
                        <p>Limited Space Available...</p>
                        <p>Classes forming now...</p>
                        <h4><strong>Call for Details @USFit.Web.Constants.PrimaryPhone</strong></h4>
                    </div>
                    <div class="grid_6">
                        <h2>Pricing</h2>
                        <p>3 hour - Group Classes - $75 / Person</p>
                        <p>Group Rates Available...</p>
                        <h4><strong>Call for Details @USFit.Web.Constants.PrimaryPhone</strong></h4>
                    </div>
                </section>
                <div class="clearfix">
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </section>
}
@section meta{
    <meta name="description" content="We offer self defense workout and fitness classes to people of all ages in the 
        Denver, Stapleton, City Park and Park Hill area." />
}
