@{
    ViewBag.Title = "Seniors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_2 vertical-nav-grid">
                <div style="width: 100%; height: 100%;">
                    <ul>
                        <li>
                            <a class="small orange button nav-button" href="/home/workout-classes">Workout Classes</a></li>
                        <li>
                            <a class="small orange button nav-button" href="/home/youth-programs">Your Programs</a></li>
                        <li>
                            <a class="small orange button nav-button" href="/home/self-defense">Self Defense</a></li>
                        <li>
                            <a class="small grey button nav-button" href="/home/seniors">Seniors</a></li>
                    </ul>
                </div>
            </div>
            <div class="grid_10">
                <section class="seniors-header">
                    <div class="grid_12">
                        <h1>Start Rolling Back the Years - Join Our Fitness Classes</h1>
                        <p>Science has proven that active people live longer, feel stronger, and look younger.
                            Start today by joining one of our senior workout classes.</p>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <h2>Get Fit Today!</h2>
                        <p>It's never too late to get fit. Our exercise classes are guaranteed to help you maintain
                            and grow cardiovascular health, strength, and flexibility. Newcomers - Seasoned
                            Athletes - People of all Skill Levels - come and enjoy the benefits of working out
                            in a group setting.</p>
                    </div>
                    <div class="grid_6">
                        <div class="image-placeholder">
                            image coming soon...
                        </div>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <div class="image-placeholder">
                            image coming soon...
                        </div>
                    </div>
                    <div class="grid_6">
                        <h2>Turn the Key - Unlock Healthy Aging</h2>
                        <p>Science has proven that exercise is the key to unlock healthy aging. Our workout
                            classes will boost energy, maintain your independence, and keep you fit. </p>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <h2>Stay Sharp - Mentally & Physically.</h2>
                        <p>Exercise is good for your mind, mood, and memory. Exercise is key to staying strong,
                            energetic, and healthy. We guarantee that exercising - Urban Survival Style - will
                            keep your sharp - Mentally & Physically</p>
                    </div>
                    <div class="grid_6">
                        <div class="image-placeholder" style="">
                            image coming soon...
                        </div>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <h2>Schedule</h2>
                        <p>Limited Space Available...</p>
                        <p>Classes forming now...</p>
                        <h4><strong>Call for Details @USFit.Web.Constants.PrimaryPhone</strong></h4>
                    </div>
                    <div class="grid_6">
                        <h2>Pricing</h2>
                        <p>Seniors Get Special Rates...</p>
                        <p>Group Rates Available...</p>
                        <h4><strong>Call for Details @USFit.Web.Constants.PrimaryPhone</strong></h4>
                    </div>
                </section>
                <div class="clearfix">
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </section>
}
@*<div class="grid_12">
    <h2>Secondary Content</h2>
    coming soon...
</div>*@ 