@{
    ViewBag.Title = "Special Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <section class="featured special-event">
        <div class="featured-content content-wrapper container_12">
            <h2>Urban Survivor Obstacle Course</h2>
            <p>Come face the ultimate challenge - alone or form a team - at the First Annual Urban
                Survivor Obstacle Course.</p>
            <div class="grid_6">
                <ul>
                    <li>When: Saturday, August 18, 2012</li>
                    <li>Where: 3540 East 31st Avenue, Denver, CO 80205</li>
                    <li>Why: To help fund programs to combat childhood obesity</li>
                </ul>
            </div>
            <div class="grid_2">
                <h3>Cost</h3>
                <ul>
                    <li>Before July 18</li>
                    <li>Before August 18</li>
                    <li>At the door</li>
                </ul>
            </div>
            <div class="grid_2">
                <h3>Individuals</h3>
                <ul>
                    <li>$30</li>
                    <li>$35</li>
                    <li>$40</li>
                </ul>
            </div>
            <div class="grid_2">
                <h3>Teams</h3>
                <ul>
                    <li>$25 ea.</li>
                    <li>$35 ea.</li>
                    <li>$40 ea.</li>
                </ul><i>limit 4 per team</i>
            </div>
                
            
            <div class="clearfix">
            </div>
            

            <div id="obstacle-course-more-info" class="float-left">
                        <img class="more-info" src="@Url.Content("../Images/info-red-32.png")" /><a class="more-info" href="~/SpecialEvents/Urban-Survivalist-Obstacle-Course">Get More Info!!!</a>
            </div>
            
        </div>
    </section>
}
<div class="grid_12">
    <h2>Other Events</h2>
    coming soon...
</div>
