@{
    ViewBag.Title = "Special Events";
}

<h2>Special Events - September 2012</h2>
<section class="featured special-event">
    <div class="featured-content content-wrapper container_12">
        <h3>Urban Survivor Obstacle Course</h3>
        <p>
            Come face the ultimate challenge - alone or form a team - at the First Annual Urban
                Survivor Obstacle Course.
        </p>
        <section id="oc-detail">
            <div class="grid_6">
                <h4>Details</h4>
                <ul>
                    <li>When: <strong>Saturday, September 15, 2012</strong></li>
                    <li>Where: 3540 East 31st Avenue, Denver, CO 80205</li>
                    <li>Why: To help fund programs to <strong>combat childhood obesity</strong></li>
                </ul>
            </div>
        </section>
        <div class="clearfix">
        </div>

        <div id="obstacle-course-more-info" class="float-left">
            <a class="more-info" href="@Url.Content("../Content/pdf/UrbanSurvivorObstacleCourse.pdf")" title="Download the flyer">Get More Info!!!</a> (download the official brochure in PDF format)
        </div>
        <div class="clearfix">
        </div>


        <section id="pricing">
            <div class="grid_2">
                <h4>Individual Prices</h4>
                <ul>
                    <li>$30 - Before August 15</li>
                    <li>$35 - Before September 15</li>
                    <li>$40 - At the door</li>
                </ul>
            </div>
        </section>
        <section>
            <div class="grid_2">
                <h4>Team Prices</h4>
                <ul>
                    <li>$25 ea. - Before August 15</li>
                    <li>$30 ea. - Before September 15</li>
                    <li>$35 ea. - At the door</li>
                </ul>
                <i>limit 4 per team</i>
            </div>
        </section>
        <div class="clearfix">
        </div>

        <p><strong>Online Orders</strong> are <strong>Not Accepted</strong> via our Mobile App - Please <strong>Visit the Desktop Version</strong> of our WebSite to Buy Tickets</p>
    </div>
</section>

<div class="grid_12">
    <h2>Special Events - October 2012</h2>
    <p><strong>October - 12th</strong> The "Urban Hood Haunt" begins - more details coming soon</p>
</div>

<br />

@section meta{
    <meta name="description" content="Check out the upcoming events offered by Urban Survival Fitness.  
    From time to time we put together events for the community like urban obstacle courses, 
    haunted houses, and other fun & family oriented events" />
}