@{
    ViewBag.Title = "Womens Fitness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_12">
                <h2>
                    Womens Fitness</h2>
                coming soon...

                <h4>General Fitness</h4>
                <p>more details coming soon...</p>
                <h4>Self Defense</h4>
                <p>more details coming soon...</p>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
}
<div class="grid_12">
    <h2>
        Secondary Content</h2>
    coming soon...
</div>
