<ul>
    <li>Evenings - Monday thru Friday - 6:00PM to 6:50PM</li>
    <li>Fitness Burst - Tuesday & Thursday - 5:15PM to 5:45PM </li>
    <li>Weekends - Saturday - 10:00AM - 30min. Butt Kick Class</li>
</ul>