<ul>
    <li>Evenings - Monday thru Friday - 6:00 PM to 6:50 PM</li>
    <li>Fitness Burst - Tuesday & Thursday - 5:15 PM to 5:45 PM </li>
    <li>Weekends - Saturday - 10:00 AM - 30min. Butt Kick Class</li>
</ul>