@{
    ViewBag.Title = "Youth Athletics";
}

<section class="featured">
    <div class="featured-content content-wrapper container_12">
        <div class="grid_10">
            <section class="content-section-header">
                <div class="grid_8">
                    <h1 style="line-height: 1.25em">Youth Programs - Fun & Safe - Workout Classes for Youth</h1>
                    <p>
                        All of our youth programs help children learn & develop skills to live long, healthy, and fulfilling lives.  
						Fitness classes are taught 5 days per week - At No Cost - to Children in the Mentoring Program!  
						Providing a healthy lifestyle for our children now is esential for their lifelong well-being.  Whether your child plays athletics or not, it is imperative 
						they learn the proper way to push, pull, run, throw, climb, lift, and jump both effectively and safely.
                    </p>
                </div>
                <div class="coupon grid_4 primary-nav-button">
                    <a id="coupon-button" href="/home/free-coupon?src=youth-programs" title="Print a coupon for our fitness classes & workout classes"
                        class="super button orange">Show This Free Drop-In Pass at the Door!</a>
                </div>
            </section>
            <div class="clearfix">
            </div>

            <section class="content-section">
                <div class="grid_6">
                    <h2>Fitness & Nutrition</h2>
                    <p>
                        Co-ed, fitness classes, taught 5 days per week.  Children already entrolled in the mentoring program have access to these 
						classes for free.  Classes focus on Fit for Life skills - Push & Pull - Run & Throw - Climb & Lift & Jump.  Help your child become Fit for Life 
						and fight obesity - Enroll them in our fitness classes
                    </p>
                </div>
                <div class="grid_6">
                    <div class="image-placeholder">
                    </div>
                </div>
            </section>
            <div class="clearfix">
            </div>
            <section class="content-section">
                <div class="grid_6">
                    <div class="image-placeholder">
                    </div>
                </div>
                <div class="grid_6">
                    <h2>Martial Arts - Shakido</h2>
                    <p>Martial Arts - especially Shakido - develops respect for self and others.  Learn Leadership - Build Confidence - Develop Self Control.  Enroll your child in one of our Shakido youth programs.</p>
                </div>
            </section>
            <div class="clearfix">
            </div>
            <section class="content-section">
                <div class="grid_6">
                    <h2>Youth Mentoring - Skills for Life & Learning</h2>
                    <p>Our mentoring program involves tutoring during the school sessions.  We also facilitate group discussions - addressing issues at school, at home or with peers.  Enable your child to positively address and deal with social issues & do better in school - Enroll them in our Youth Mentoring program.</p>
                </div>
                <div class="grid_6">
                    <div class="image-placeholder" style="">
                    </div>
                </div>
            </section>
            <div class="clearfix">
            </div>
            <section class="content-section">
                <div class="grid_6">
                    <h2>Schedule</h2>
                    <p><strong>Mentoring</strong> - Mondays - (5pm - 7pm)</p>
                    <p><strong>Martial Arts</strong> - Classes Forming Soon...</p>
                    <p><strong>Fitness Classes</strong> - Classes Forming Soon...</p>
                </div>
                <div class="grid_6">
                    <h2>Pricing</h2>
                    <p>Details Coming Soon...</p>
                </div>
            </section>
            <div class="clearfix">
            </div>
            <section class="content-section">
                <div class="grid_12">
                    <h2><strong class="callout" style="font-size: 1em;">Call Us & Reserve Your Childs Spot Today!</strong></h2>
                    <h2>@USFit.Web.Constants.PrimaryPhone</h2>
                </div>
            </section>
        </div>
        <div class="clearfix">
        </div>
    </div>
</section>

@Html.Partial("PageNav")


@section meta{
    <meta name="description" content="Our youth programs consit of workout classes & fitness classes to help youth in the Denver, Park Hill, City Pary, and Stapleton areas become fit for any sport and reduce childhood obesity.  We also provide a safe place in the community for families and children to exercise together." />
}
