@{
    ViewBag.Title = "Youth Athletics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_12">
                <h1>Youth Programs - Fun & Safe - Workout Classes</h1>
                <p>Youth program details are coming soon...</p>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
}
<div class="grid_12">
    <h2>
        Secondary Content</h2>
    coming soon...
</div>


@section meta{
    <meta name="description" content="Our youth programs consit of workout classes & fitness classes to help youth in the Denver, Park Hill, City Pary, and Stapleton areas become fit for any sport and reduce childhood obesity.  We also provide a safe place in the community for families and children to exercise together." />
}
