.view-switcher {
    padding: 0.5em; 
    font-weight: normal;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: solid 1px #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.phone-image-16
{
    height:16px;
    width:16px;
    float:left;
    margin-right:.25em;
    margin-top:4px;
}

.phone-image-red-16
{
    height:16px;
    width:16px;
    float:left;
    margin-right:.25em;
    margin-top:4px;
}

.location-image-red-16
{
    height:16px;
    float:left;
    margin-right:.25em;
    margin-top:4px;
}

.email-image-red-16
{
    width:16px;
    float:left;
    margin-right:.25em;
    margin-top:6px;
}

