@{
    ViewBag.Title = "Urban Survivalist Obstacle Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_8">
                <section id="oc-intro">
                    <h3>CAN YOU SURVIVE...</h3>
                    <p>an Urban Obstacle Course created by Master Survival Specialist Jeffrey McMillan?</p>
                    <h3>CAN YOU SURVIVE...</h3>
                    <p>the running, crawling, jumping, mud, water and more?</p>
                    <h3>CAN YOU SURVIVE...</h3>
                    <p>Doing what it takes to cross the finish line?</p>

                    <h3>DO YOU...</h3>
                    <p>Want something different from the long trails interspersed with a few obstacles?
                        Come join the <strong>FUN AND LAUGHTER</strong> with many others as they test their
                        agility, stamina, resilience, intelligence, and mental and physical toughness.</p>

                    <h3>WE GUARANTEE</h3>
                    <p>You and/or your team will face the ultimate challenge - at the First Annual Urban
                        Survivor Obstacle Course</p>
                </section> 
                
                <br />
                <section id="oc-detail">
                    <div class="grid_12">
                        <h3>Details</h3>
                        <ul>
                            <li>When: <strong>Saturday, Sept. 15, 2012</strong></li>
                            <li>Where: 3540 East 31st Avenue, Denver, CO 80205</li>
                            <li>Why: To help fund programs to <strong>combat childhood obesity</strong></li>
                        </ul>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section id="pricing">
                    <div class="grid_4">
                        <h3>Cost</h3>
                        <ul>
                            <li>Before Aug. 15th</li>
                            <li>Before Sept. 15th</li>
                            <li>At the door</li>
                        </ul>
                    </div>
                    <div class="grid_4">
                        <h3>Individuals</h3>
                        <ul>
                            <li>$30</li>
                            <li>$35</li>
                            <li>$40</li>
                        </ul>
                    </div>
                    <div class="grid_4">
                        <h3>Teams</h3>
                        <ul>
                            <li>$25 ea.</li>
                            <li>$30 ea.</li>
                            <li>$35 ea.</li>
                        </ul><i>limit 4 per team</i>
                    </div>
                </section>
                <div class="clearfix">
                </div>
            </div>
            <div class="grid_4">
                
                                <div class="grid_12 buy-now">
                    <h2>Buy Individual Tickets</h2>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="SK926V6JH776U">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                        border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                        width="1" height="1">
                    </form>
                </div>


                <div class="clearfix">
                </div>
                
                 <div class="grid_12 buy-now">
                    <h2>Buy Team Tickets</h2>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="MXW84TLXM4M7E">
                    <table>
                        <tr>
                            <td>
                                <input type="hidden" name="on0" value="How Big is Your Team?">How Big is Your Team?
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="2 - Survivors">2 - Survivors $50.00 USD</option>
                                    <option value="3 - Survivors">3 - Survivors $75.00 USD</option>
                                    <option value="4 - Survivors">4 - Survivors $100.00 USD</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                        border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                        width="1" height="1">
                    </form>
                </div>

            </div>
            <div class="clearfix">
            </div>
        </div>
    </section>
}
<div class="grid_12">
</div>
<div class="clearfix">
</div>
